body {
  background-color: lightblue;
  color: blue;
  font-family: Luminari, fantasy;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 6em;
  margin-bottom: 1em;
}

h2 {
  font-size: 4em;
  margin-bottom: 0.6em;
}

h3 {
  font-size: 2em;
  margin-bottom: 0.4em;
}

img {
  content: url('https://c1.wallpaperflare.com/preview/888/182/477/serrano-peppers-peppers-chiles-chili.jpg');
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  }

p {
  line-height: 1.5;
}

a {
  color: #0077cc;
  text-decoration: green wavy underline;
}

.nav li {
  display: inline-block;
  margin-right: 1em;
}
